[Unit]
Description=Osmocom GTP Hub
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=osmocom
Group=osmocom
ExecStart=/usr/bin/osmo-gtphub -c /etc/osmocom/osmo-gtphub.cfg
StateDirectory=osmocom
WorkingDirectory=%S/osmocom
Restart=always
RestartSec=2
RestartPreventExitStatus=1

[Install]
WantedBy=multi-user.target
